#pengantar .container-pengantar p{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 100%;
	font-weight: 300;
	font-size: 200%;
	color: #fff;
	text-align: center;
	font-family: 'HelveticaRegular';
	
}

@media only screen and (max-width: 320px) {
	#pengantar .container-pengantar p{
	  font-size: 1em;
	}
  }

  
/* .button-pengantar img {
	
} */

.play {
	margin : 0% 25% 0 48%;
	width:50px;
	height:50px;
	background-image: url(../img/asets/play.png);
	background-size: 50px 50px;
	float:left;
}
.pause {
	margin : 0% 25% 0 48%;
	width:50px;
	height:50px;
	background-image: url(../img/asets/pause.png);
	background-size: 50px 50px;
	float:left;
}