 
  .peristiwa-berdarah-depok-row {
    padding-top: 5%;
  }
  
  .subtitle-peristiwa-berdarah-depok {
    margin-left: 15%;
    margin-right: 15%;
    font-size : 20px;
    color: white;
  }
  .subtitle-peristiwa-berdarah-depok #ayosimak{
  color:#FFD600;
  font-weight: bold;
  }
  .title-peristiwa-berdarah-depok h1{
      color: white;
  }
  /* #depok-masa-chastelein {
    background: url(images/bg-pop-up.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../img/asets/bg-dmc.png);
    background-position: center;
    background-size: cover;
    height: auto;
  
  } */