.scc-row #keluarga {
  cursor: pointer;
  float: right;
  margin-right: -10%;
}
.scc-row #pribadi {
  display:inline;
  cursor: pointer;
  margin-left: 10%;
  margin-right: -10%;
}

.scc-row #karir {
  cursor: pointer;
  display:inline;
  margin-left: -10%;
  margin-right: 10%;
}

.scc-row #tanah {
  cursor: pointer;
  float: left;
  margin-left: -10%;
}

.scc-row {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}

.subtitle-scc {
  margin-left: 15%;
  margin-right: 15%;
  font-size : 20px;
  color: white;
}

.subtitle-scc #ayosimak {
  color: #FFD600;
  font-weight: bold;

}

.title-scc h1{
  color: white;
}

 /* The Modal (background) */
 .modal-scc{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-scc .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
  margin-top: 100px;
  background-image: url("../img/asets/penutur_kisah/bg-pop-up.png");
  background-size: contain;
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 410.4px;
  height: 500px;
}
.modal-scc .modal-content .row-top {
  padding-top: 5%;
}
.modal-scc .modal-content .modal-desc-content {
  text-align: justify;
  font-size: 18px;
}

.modal-scc .modal-content  .modal-desc-title {
  text-align: left;
  font-size: 20pt;
  margin-top :-3%;
}

/* The Close Button */
.close-modal-scc {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-scc .modal-content p {
  color: white;
}

.close-modal-scc:hover,
.close-modal-scc:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.col-6 .col-md-4 {
  padding: 0px;
}
.row {
  margin: 0px;
}

.modal-scc .multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}

.modal-scc .multi-item-carousel .carousel-inner > .next {
  left: 33%;
}

.modal-scc .multi-item-carousel .carousel-inner > .prev {
  left: -33%;
}

.modal-scc .multi-item-carousel .carousel-inner .active .left .right{
  left:-33%;
}
.modal-scc .multi-item-carousel .carousel-inner .active .left .right{
  right:33%;
}